body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    color: white;
    --cor-destaque: #ffdf00;
    background-color: #009c3b;
}  

    /* Dark Mode*/
.dark-mode {
        background-color: black;
        color: white;
        --cor-destaque: #ffdf00;
}
.light-mode {
        color: white;
        --cor-destaque: #ffdf00;
        background-color: #009c3b;
}

.dark-mode a {
  color: #dee2e6;
}

.dark-mode a:hover {
  color: #3cc368;
}


.header {
    width: 100%;
    max-width: 700px;
    padding: auto;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content:flex-end
}

main {
    width: 100%;
    max-width: 900px;
    padding: auto;
    box-sizing: border-box;
    margin: 0 auto;
}

.perfil {
    width: 900px;
    display: flex;
    justify-content:center;
    margin-top: auto;
   
}

.perfil__foto {
    width: 50%;
    height: 100%;
    max-height: 100%;
    border-radius: 20%;
    border: 6px solid var(--cor-destaque);
}

.perfil__nome {
    font-family:'Caveat', cursive;
    font-size: 80px;
    font-weight: 40px;
    color: var(--cor-destaque);
    margin: 16px 0; 
    text-align: center;

}

.perfil__descricao {
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0;
    width: 100%;
    max-width: 900px;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 1em;

}

.contribuicao {
    padding: auto;
    width: 100%;
    max-width: 900px;
    margin: 24px auto;
    display: flex;
    justify-content:center;
    margin-top: auto;
}

.contribuicao__titulo {
    font-family:'Caveat', cursive; 
    font-size: 50px;
    font-weight: 40px;
    color: var(--cor-destaque);
    margin: 16px 0; 
    text-align: center;
}

.contribuicao__descricao {
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0;
    width: 100%;
    max-width: 900px;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.contexto {
    padding: auto;
    width: 100%;
    max-width: 900px;
    margin: 24px auto;
    display: flex;
    justify-content:center;
    margin-top: auto;
}

.contexto__foto {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 5%;
    border: 2px solid var(--cor-destaque);
}

.contexto__titulo {
    font-family:'Caveat', cursive; 
    font-size: 50px;
    font-weight: 40px;
    color: var(--cor-destaque);
    margin: 16px 0; 
    text-align: center;    
}

.contexto__descricao {
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0;
    width: 100%;
    max-width: 900px;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.bibliografia {
    padding: auto;
    width: 100%;
    max-width: 900px;
    margin: 24px auto;
    display: flex;
    justify-content:center;
    margin-top: auto;
}

.bibliografia__titulo {
    font-family:'Caveat', cursive; 
    font-size: 50px;
    font-weight: 40px;
    color: var(--cor-destaque);
    margin: 8px 0; 
    text-align: center;    
}

.bibliografia__descricao {
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0;
    width: 100%;
    max-width: 900px;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.grafeno {
    padding: auto;
    width: 100%;
    max-width: 900px;
    margin: 24px auto;
    display: flex;
    justify-content:center;
    margin-top: auto;
}

.grafeno__foto {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 5%;
    border: 2px solid var(--cor-destaque);
}

.grafeno__titulo {
    font-family:'Caveat', cursive; 
    font-size: 50px;
    font-weight: 40px;
    color: var(--cor-destaque);
    margin: 16px 0; 
    text-align: center;    
}

.grafeno__descricao {
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0;
    width: 100%;
    max-width: 900px;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 1em;
}

/* .carrossel {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 12%;
    border: 6px solid var(--cor-destaque);
    justify-content:center;
} */

.footer {
    width: 100%;
    height: 80px;
    background-color: #002776;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.footer__texto {
    font-size: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

/* cores da bandeira do Brasil: Verde #009c3b Amarelo #ffdf00 Azul #002776 Branco #FFFFFF */
  